<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620385933090-r4016u3bi5i01k0r7vti4mh7qk37evfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620385933090-r4016u3bi5i01k0r7vti4mh7qk37evfo</string>
	<key>API_KEY</key>
	<string>AIzaSyACtiGlHfuFu7gofaqNBcLY5AmYkv-b1AI</string>
	<key>GCM_SENDER_ID</key>
	<string>620385933090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lamkhil.midtransTest</string>
	<key>PROJECT_ID</key>
	<string>midtrans-test</string>
	<key>STORAGE_BUCKET</key>
	<string>midtrans-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620385933090:ios:1bfd8fee8c8c72924af77b</string>
</dict>
</plist>